[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/hats-module"]
	path = lib/hats-module
	url = https://github.com/Hats-Protocol/hats-module
