[submodule "lib/hats-module"]
	path = lib/hats-module
	url = https://github.com/Hats-Protocol/hats-module
[submodule "lib/solady"]
	path = lib/solady
	url = https://github.com/vectorized/solady
[submodule "lib/farcaster"]
	path = lib/farcaster
	url = https://github.com/farcasterxyz/contracts
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
